@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #0e0e0e;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-brand__name a {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}
#header1-n H1 {
  text-align: left;
}
#header1-n P {
  text-align: right;
}
#content5-y .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-y .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-y .mbr-article {
  color: #fff;
}
#content5-y .mbr-article P {
  text-align: right;
}

#features1-v .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#features1-v .mbr-section-title .mbr-header__text {
  color: #ffffff;
}
#features1-v P {
  font-size: 13px;
  text-align: center;
}
#menu-o .mbr-brand__name {
  font-size: 16px;
}
#menu-o.mbr-navbar--stuck .mbr-navbar__section {
  background: #0e0e0e;
}
#menu-o .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-o .mbr-brand__name a {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}
